---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<Layout
  title="Blog"
  description="Technical articles on AWS architecture, DevOps practices, MongoDB, and full-stack development by Mahim Safa."
>
  <div class="my-10 flex flex-col space-y-7 pb-5 dark:text-slate-200">
    {
      posts.map((item) => {
        return (
          <Card
            slug={item.slug}
            heading={item.data.title}
            img={item.data.cover}
            date={item.data.date}
            description={item.body.slice(0, 300).replace('#', '')}
          />
        );
      })
    }
  </div>
</Layout>
