---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <section class="my-10 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-semibold text-sky-400">Get In Touch</h1>
    <p class="mt-4 text-gray-600">Contact page coming soon.</p>
  </section>
</Layout>
