---
const {
  item: { text, link, location, date },
} = Astro.props;
---

<div
  class="transition-all duration-150 ease-in hover:shadow hover:-translate-y-1 w-full min-h-12 p-2 border border-gray-300 dark:border-slate-700 dark:bg-slate-800 flex justify-center flex-col items-end rounded-sm"
>
  <div class="w-full">
    <a
      href={link}
      class="hover:underline text-lg hover:text-sky-400 dark:text-slate-200 dark:hover:text-sky-400 transition-all duration-150 ease-in hover:tracking-wide"
    >
      {text}
    </a>
  </div>
  <p class="text-xs text-gray-500 dark:text-slate-400">{date}</p>
  <p class="text-xs text-gray-500 dark:text-slate-400">{location}</p>
</div>
