---
const {
  item: { text, link, location, date },
} = Astro.props;
---

<div
  class="flex min-h-12 w-full flex-col items-end justify-center rounded-sm border border-gray-300 p-2 transition-all duration-150 ease-in hover:-translate-y-1 hover:shadow dark:border-slate-700 dark:bg-slate-800"
>
  <div class="w-full">
    <a
      href={link}
      class="text-lg transition-all duration-150 ease-in hover:tracking-wide hover:text-sky-400 hover:underline dark:text-slate-200 dark:hover:text-sky-400"
    >
      {text}
    </a>
  </div>
  <p class="text-xs text-gray-500 dark:text-slate-400">{date}</p>
  <p class="text-xs text-gray-500 dark:text-slate-400">{location}</p>
</div>
