---
import { Image } from "astro:assets";
import ByteCapsule from "../assets/bytecapsuleit.jpeg";
import WIYP from "../assets/wellington.png";
import Fiverr from "../assets/fiverr-logo.png";
import AZGroup from "../assets/azgroup-logo.svg";
import { Icon } from "astro-icon/components";
---

<section
  class="my-10 w-full border-l border-gray-300 p-3 flex flex-col md:flex-row items-center md:items-start"
>
  <h1 class="text-sky-400 text-xl font-semibold mr-10">Experience</h1>
  <div class="flex flex-col space-y-10">
    <!-- Experience 3 -->
    <div class="">
      <div class="flex justify-between w-full">
        <div class="flex flex-col md:border-l md:border-gray-300">
          <div class="mx-5">
            <div class="flex items-center mb-1">
              <Image
                src={AZGroup}
                alt="AZ Group logo"
                class="h-6 w-6 mr-2"
                width={24}
                height={24}
              />
              <h1 class="text-lg font-semibold flex items-center">
                AZ Group
                <span>
                  <a href="https://www.az-group.io/butly-ai" target="_blank" rel="noopener noreferrer">
                    <Icon
                      name="gridicons:external"
                      class="ml-2 text-sky-400"
                      width="18"
                    />
                  </a>
                </span>
              </h1>
            </div>
            <h3>Lead Software Developer</h3>
          </div>
        </div>
        <p class="text-gray-600">Nov, 2023 - Present</p>
      </div>
      <div class="ml-5 mt-4">
        <p class="text-sm text-gray-600">
          In AZ Group I am responsible for developing the core technology and
          the infrastructure of the project called Butly AI. This is an Ai
          powered customer support chat bot which uses multiple Large Language
          Model (LLM) to provide a tailored response.
        </p>
      </div>
    </div>

    <!-- Experience 3 -->
    <div class="">
      <div class="flex justify-between w-full">
        <div class="flex flex-col md:border-l md:border-gray-300">
          <div class="mx-5">
            <div class="flex items-center mb-1">
              <Image
                src={Fiverr}
                alt="Fiverr logo"
                class="h-6 w-6 mr-2"
                width={24}
                height={24}
                format="avif"
              />
              <h1 class="text-lg font-semibold flex items-center">
                Fiverr
                <span>
                  <a href="https://fiverr.com/" target="_blank" rel="noopener noreferrer">
                    <Icon
                      name="gridicons:external"
                      class="ml-2 text-sky-400"
                      width="18"
                    />
                  </a>
                </span>
              </h1>
            </div>
            <h3>Level 2 Seller</h3>
          </div>
        </div>
        <p class="text-gray-600">Sept, 2022 - Present</p>
      </div>
      <div class="ml-5 mt-4">
        <p class="text-sm text-gray-600">
          I am a Level 2 seller on Fiverr, excels in AWS DevOps and MERN stack
          development. I expertly design, deploy, and manage AWS infrastructure,
          focusing on serverless applications using Docker, EC2, ECS, Lambda,
          API Gateway, and DynamoDB. My proficiency in the MERN stack spans
          MongoDB, Express.js, React, and Node.js, evident in deploying
          e-commerce, web applications, and APIs on AWS while addressing
          performance and security concerns. My knack for problem-solving and
          efficiency ensures top-notch solutions in both AWS and MERN stack
          domains.
        </p>
      </div>
    </div>

    <!-- Experience 2 -->
    <div class="">
      <div class="flex justify-between w-full">
        <div class="flex flex-col">
          <div class="mx-5">
            <div class="flex items-center mb-1">
              <Image
                src={WIYP}
                alt="Wellington In Your Pocket logo"
                class="h-6 w-6 mr-2"
                width={24}
                height={24}
                format="avif"
              />
              <h1 class="text-lg font-semibold flex items-center">
                Wellington In Your Pocket
                <span>
                  <a
                    href="https://wellingtoninyourpocket.co.nz/home2/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon
                      name="gridicons:external"
                      class="ml-2 text-sky-400"
                      width="18"
                    />
                  </a>
                </span>
              </h1>
            </div>
            <h3>Cloud Engineer</h3>
          </div>
        </div>
        <p class="text-gray-600">Jan, 2023 - Sept, 2023</p>
      </div>
      <div class="ml-5 mt-4">
        <p class="text-sm text-gray-600">
          As a Cloud Engineer at "Wellington In Your Pocket", My role involves
          designing, implementing, and maintaining the backend architecture
          using various AWS services. I am responsible for ensuring scalability,
          reliability, and security of the cloud infrastructure to support the
          application's requirements. I work closely with cross-functional teams
          to understand project requirements and translate them into scalable
          and robust cloud solutions that drive the application's success.
        </p>
      </div>
    </div>

    <!-- Experience 1 -->
    <div class="">
      <div class="flex justify-between w-full">
        <div class="flex flex-col">
          <div class="mx-5">
            <div class="flex items-center mb-1">
              <Image
                src={ByteCapsule}
                alt="Byte Capsule Ltd logo"
                class="h-6 w-6 mr-2"
                width={24}
                height={24}
                format="avif"
              />
              <h1 class="text-lg font-semibold flex items-center">
                Byte Capsule Ltd.
                <span>
                  <a href="https://www.bytecapsuleit.com/" target="_blank" rel="noopener noreferrer">
                    <Icon
                      name="gridicons:external"
                      class="ml-2 text-sky-400"
                      width="18"
                    />
                  </a>
                </span>
              </h1>
            </div>
            <h3>Operations Lead</h3>
          </div>
        </div>
        <p class="text-gray-600">May, 2020 - Nov, 2022</p>
      </div>
      <div class="ml-5 mt-4">
        <p class="text-sm text-gray-600">
          During my tenure as an Operations Lead at Byte Capsule Ltd, I
          undertook multifaceted responsibilities within the dynamic startup
          landscape. My roles encompassed delivering comprehensive Application
          Security services to our clients, educating and mentoring thousands of
          students in Cyber Security, optimizing company operations, and
          participating as a keynote speaker at diverse industry events.
          Collaborating seamlessly with cross-functional teams, I ensured the
          seamless delivery of anticipated services to our valued customers.
        </p>
      </div>
    </div>
  </div>
</section>
