---
---

<section class="my-10 w-full border-l border-gray-300 dark:border-slate-700 p-3 flex">
    <h1 class="text-sky-400 text-xl font-semibold mr-10">Involvement</h1>
    <div class="flex flex-col space-y-10">
      <div class="">
        <div class="flex justify-between w-full">
          <div class="flex flex-col border-l border-gray-300 dark:border-slate-700">
            <div class="mx-5">
              <div class="flex items-center mb-1">
                <!-- <img src={ByteCapsule} alt="" class="h-6 w-6 mr-2" /> -->
                <h1 class="text-lg font-semibold dark:text-slate-200">Bengal Black Diamond</h1>
              </div>
              <h3>Cyber Security</h3>
            </div>
          </div>
          <!-- <p class="text-gray-600">2020-2022</p> -->
        </div>
        <div class="ml-5 mt-4">
          <p class="text-sm text-gray-600 dark:text-slate-400">
            As a seasoned application security professional, I led the Bengal Black Diamond CTF team, participating in various CTF competitions, including the National Cyber Drill in Bangladesh. I've been invited to speak at multiple events, sharing my expertise and passion for the field. I've also had the pleasure of mentoring 1000+ students on various security testing methods and providing hands-on guidance.
          </p>
        </div>
      </div>
    </div>
  </section>
