---
import { Image } from "@astrojs/image/components";
import Logo from "../assets/mahim-logo.png";
---

<nav
  class="h-16 text-black max-w-5xl px-5 md:mx-auto bg-white/30 sticky top-0 backdrop-blur-lg z-10 shadow-sm rounded-sm"
>
  <ul class="h-full flex justify-between items-center">
    <li>
      <!-- <div>Mahim</div> -->
      <a
        href="/"
        class="transition-colors duration-150 ease-in hover:text-sky-400"
      >
        <Image src={Logo} width={50} height={50} alt="Mahim Logo" fit="cover" />
      </a>
    </li>
    <li class="flex items-center space-x-4">
      <a
        href="/"
        class="transition-colors duration-150 ease-in hover:text-sky-400"
        >Home</a
      >
      <a
        href="/blog"
        class="transition-colors duration-150 ease-in hover:text-sky-400"
        >Blog</a
      >
      <a
        href="/external"
        class="transition-colors duration-150 ease-in hover:text-sky-400"
        >External</a
      >

      <button
        class="rounded transition-all duration-150 ease-in px-3 py-2 text-sky-400 ring-2 ring-sky-400 hover:bg-sky-400 hover:text-white"
      >
        <a href="/hireme"> Hire Me</a>
      </button>
    </li>
  </ul>
</nav>
