---
import { Image } from 'astro:assets';
import Logo from '../assets/mahim-logo.png';

const isHomePage = Astro.url.pathname === '/';
---

<nav
  class="sticky top-0 z-40 h-16 w-full border-b border-slate-800 bg-slate-900/80 px-6 text-slate-200 shadow-sm backdrop-blur-lg sm:px-10 lg:px-16"
>
  <ul class="flex h-full items-center justify-between">
    <li>
      <a href="/" class="transition-colors duration-150 ease-in hover:text-sky-400">
        <Image src={Logo} width={50} height={50} alt="Mahim Logo" />
      </a>
    </li>
    <li class="flex items-center space-x-4">
      {isHomePage ? (
        <>
          <a
            href="#about"
            class="hidden transition-colors duration-150 ease-in text-slate-300 hover:text-sky-400 sm:inline"
          >
            About
          </a>
          <a
            href="#experience"
            class="hidden transition-colors duration-150 ease-in text-slate-300 hover:text-sky-400 sm:inline"
          >
            Experience
          </a>
        </>
      ) : (
        <a
          href="/"
          class="transition-colors duration-150 ease-in text-slate-300 hover:text-sky-400"
        >
          Home
        </a>
      )}
      <a
        href="/blog"
        class="transition-colors duration-150 ease-in text-slate-300 hover:text-sky-400"
      >
        Blog
      </a>
      <a
        href="/external"
        class="transition-colors duration-150 ease-in text-slate-300 hover:text-sky-400"
      >
        External
      </a>
      <a
        href={isHomePage ? "#contact" : "/#contact"}
        class="rounded px-3 py-2 text-sky-400 ring-2 ring-sky-400 transition-all duration-150 ease-in hover:bg-sky-400 hover:text-white"
      >
        Contact
      </a>
    </li>
  </ul>
</nav>
