---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const title = Astro.props.title
  ? `${Astro.props.title} | Mahim Safa`
  : "Mahim Safa";
---

<style is:global>
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/webfonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/webfonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/webfonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
</style>

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Analytics />
    <SpeedInsights />
  </head>
  <body class="w-screen overflow-x-hidden bg-hero-pattern min-h-screen">
    <Navbar />
    <div class="max-w-5xl px-5 md:mx-auto bg-white -mt-16 pt-16 shadow bg-opacity-95 min-h-full flex flex-col space-y-10">
      <slot />
    </div>
    <Footer />
  </body>
</html>
